
.disno{display:none !important;}
.wid100{width:100% !important;}
.content-wrapper{background-color:#f6f5fa;}
.main-header .logo.blue-bg{background-color:#1a2e51;}
.main-header .navbar.blue-bg{background-color:#fff;}
.main-header .blue-bg .navbar-nav > li > a{color:#000;}
.navbar-nav>.user-menu .user-image{margin-top:-10px; width:36px; height:36px;}
.main-sidebar{background-color:#fff;}
.sidebar-menu>li>a{color:#000;}
.btn-primary{background-color:#0c4da2; border-color:#09418a; color:#fff;}
.btn-primary:hover{background-color:#20569c;}
.req{color:red;}
.topic-header{border-bottom:1px solid #ccc; padding:20px 0 10px 0; font-weight:bold;}
.noedge{border-radius:0 !important;}
table.dataTable thead .sorting_desc{cursor:auto !important;}
table.dataTable thead .sorting_desc:after{display:none !important;}

.warn_circle{display:inline-block; margin-top:2px; width:18px; height:18px; line-height:18px; border-radius:18px; color:#fff; font-size:11px; text-align:center; background:red; vertical-align:top;}
.deep_bg{background-color:#f7f7f9;}
.pass_bg{background-color:#dff0d8;}
.red_bg{background-color:#f8d7da;}
.btn_pink{color:#fff; border:solid 1px #f9a9cc; background-color:#f9a9cc;}
.btn_pink:hover{color:#fff; background-color:#f576ad;}
.btn_form{min-width:130px;}
.img_cover{background-position:center; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.req{color:red;}
.card .card-header{box-shadow: 0px 1px 5px #ccc;}
.main-header .logo img{max-width:100%;}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{background-color:#f9a9cc;}
.stat_success{display:inline-block; padding:2px 5px; border-radius:5px; color:#fff; background-color:#00a65a;}
.stat_danger{display:inline-block; padding:2px 5px; border-radius:5px; color:#fff; background-color:#dd4b39;}
.stat_code_success{display:inline-block; padding:2px 5px; min-width:70px; text-align:center; border-radius:5px; color:#fff; background-color:#00a65a;}
.stat_code_error{display:inline-block; padding:2px 5px; min-width:70px; text-align:center; border-radius:5px; color:#fff; background-color:#dd4b39;}
.alert p,
.alert ul{margin-bottom:0 !important;}



/** DataTable (Yajra) **/
.dataTables_info{display:inline-block; width:50%; vertical-align:top;}
.dataTables_paginate{display:inline-block; width:50%; vertical-align:top;}
.pagination>li>a{color:#f9a9cc;}
.page-item.active .page-link{border-color:#f9a9cc; background-color:#f9a9cc;}


/*** TC Check box **/
.tc_check{position:relative; display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; border:solid 4px #1C295C; vertical-align:middle; cursor:pointer; outline:0;}
.tc_check .tchk_i{position:absolute; top:-4px; left:-4px; display:inline-block; width:25px; height:25px; line-height:30px; font-size:23px; font-weight:bold; color:#1C295C;}
.tc_check:hover{background-color:#1C295C;}
.tc_check:hover .tchk_i{color:#fff;}
label:hover .tc_check{background-color:#1C295C;}
label:hover .tc_check .tchk_i{color:#fff;}
/*** End TC Check box **/

.m_stepper_box{position:relative; margin-bottom:50px;}
.m_stepper_box .stp_box{position:relative; text-align:center; z-index:2;}
.m_stepper_box .stp_box a.stp_sub{display:inline-block; margin:0 auto; width:70px; height:70px; line-height:70px; border-radius:70px; font-size:30px; color:#fff; text-align:center; text-decoration:none; background:#ced4da; vertical-align:middle;}
.m_stepper_box .stp_box a.stp_sub.active{background-color:#0c4da2;}
.m_stepper_box .stp_box a.stp_sub.pass{background-color:#007bff;}
.m_stepper_box .stp_box p{margin:10px 0 0 0; font-size:18px;}
.stp_line{position:absolute; top:35px; margin:0; width:100%; height:1px; background-color:#ced4da; z-index:1;}

/**** Dropify ****/
.dropify-wrapper .btn_dpf_clear{display:none; position:absolute; opacity:0; z-index:7; top:10px; right:10px; background:0 0; border:2px solid #FFF; text-transform:uppercase; font-size:11px; padding:4px 8px; font-weight:700; color:#FFF; -webkit-transition:all .15s linear; transition:all .15s linear;}
.dropify-wrapper.has-preview .btn_dpf_clear{display:block; opacity:1;}
.dropify-wrapper .btn_dpf_clear:hover{background:rgba(255,255,255,.2)}

.box_btn_attach{margin-top:5px;}




.row_step{display:block; display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; width:100%; background-color:#aaa; vertical-align:top;}
.row_step .sub_step{position:relative; display:inline-block; box-sizing:border-box; width:19.3%; max-width:19.3%; -ms-flex:0 0 19.3%; flex:0 0 19.3%; height:50px; line-height:50px; border-right:solid 1px #fff; text-align:center; color:#fff;}
.row_step .sub_step:nth-child(1){width:26%; max-width:26%; -ms-flex:0 0 26%; flex:0 0 26%;}
.row_step .sub_step:nth-child(3){width:16%; max-width:16%; -ms-flex:0 0 16%; flex:0 0 16%;}
.row_step .sub_step:nth-child(5){border-right:none;}
.row_step .sub_step a{color:#fff;}
.row_step .sub_step .arrow_step{position:absolute; display:none; top:0; right:-19px; z-index:5;}
.row_step .sub_step.step_active{border-right:none; background-color:#f9a9cc;}
.row_step .sub_step.step_active .arrow_step{display:block;}

@media screen and (max-width:768px){
	
}

