
.main-header .logo{line-height:60px; color:#fff; font-weight:600;}
.temp_content{position:relative; padding-top:50px; z-index:2;}
.tcc{padding:15px; border-radius:15px; background-color:rgba(255,255,255,0.9);}
.light_circle_behind {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -2700px;
    margin-left: -1500px;
    width: 3000px;
    height: 3000px;
    border-radius: 3000px;
    background: radial-gradient(circle closest-side, #fff 40%, #fff -10%, #1C295C );
    z-index: 0;
}

@media screen and (max-width:768px){
	.light_circle_behind{display:none;}
	.temp_content{padding-top:15px;}
}